doctype html
html(lang='pl')
  head
    meta(charset='utf-8')
    title Między Nami
    link(rel='stylesheet', href='/static/style.css')
  body
    h1 Między Nami
    a(href='https://miedzy-nami.rakbook.pl/static/demos/latest') gra
    br
    | Rekomendujemy Brave, Chrome lub Firefox
